body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #00a7b5, #006e77);
  font-family: Arial, sans-serif;
}

.login-box {
  text-align: center;
}

.login-box img {
  width: 180px;
  height: 180px;
  object-fit: contain;
  border-radius: 5px;
  border: 2px solid #e1e1e1;
  margin-bottom: 20px;
  background: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 280px;
  margin: 0 auto;
}

label {
  margin-left: 5px;
  margin-bottom: 4px;
  font-weight: bold;
  color: #fff;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
}

button {
  width: 100%;
  padding: 12px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  background: #000;
  color: #fff;
  font-weight: bold;
  font-size: 15px;
  transition: 0.2s;
}

button:hover {
  background: #222;
}
